/* Рисуем клетки важности */
.text14 {
  font-size: 16px;
  font-weight: 700;
  text-align: center;

 }
  

a {
  text-decoration: none
}

.prods_table td {

  border: 1px solid black;
}

.tab_50{
width: 50%;

}

.alarm {
  color:rgba(255, 0, 0, 0.951);
}